
@import "~@ui.packages/theme";

.wrapper {

  display: block;
  width: 800px;
  padding: 40px 40px 180px;
}

.header {

  display: block;
  font: 18px "Istok Web";
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.container {

  display: block;
  border: 1px solid $pale-lilac;
  border-radius: 8px;
  padding: 30px;
  background: $white;
}

.form {

  display: block;
}

.controls {

  display: block;
  margin: 20px 0 0;
}