
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 0 0 120px;
}

.controls {

  display: block;
  padding: 20px 40px;
  text-align: right;
  background: $pale-grey;
  border-bottom: 1px solid $pale-lilac;
}

.content {

  display: block;
  padding: 40px;
}


.amount {

  display: block;
  text-align: right;
  color: $coal-dark;
  font-size: 0;

  &__value {

    display: inline-block;
    font-size: 13px;
    //font-weight: bold;
    margin: 0 4px 0 0;
  }

  &__currency {

    display: inline-block;
    font-size: 13px;
    //font-weight: bold;
  }
}

.image {

  width: 140px;
  height: 105px;
}

.attributes {

  display: block;

  &__item {

    display: block;
    font-size: 12px;
    white-space: nowrap;

    & + & {

      margin: 10px 0 0;
    }
  }

  &__name {

    display: inline-block;
    font-weight: bold;
    margin: 0 8px 0 0;
  }

  &__value {

    display: inline-block;
  }

  &__unit {

    display: inline-block;
    margin: 0 0 0 4px;
    font-style: italic;
  }
}

.description {

  display: block;
  font-size: 13px;
  line-height: 1.4;

  &__label {

    font-weight: bold;
  }

  &__item {

    display: block;

    & + & {
      margin: 8px 0 0;
    }
  }
}