
.wrapper {

  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.header {

  display: block;
  background: #cbcbcb;
}

.page {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.aside {

  display: block;
  background: #37b2d1;
}

.content {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}

.footer {

  display: block;
  background: #cbcbcb;
}