
@import "~@ui.packages/theme";


.product {

  display: flex;
  flex: 1 0;
  min-height: 200px;

  & + & {

    border-top: 1px solid $light-gray-color;
    margin: 40px 0 0;
    padding: 40px 0 0;
  }

  &__name {

    display: block;
    font-size: 14px;
    color: $dark-color;
  }
}

.gallery {

  display: block;
  width: 250px;
  text-align: center;

  &__images {

    display: flex;
    height: 200px;
  }
}

.content {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.uuid {

  display: block;
  font-size: 12px;
  text-align: center;
  color: rgba($gray-color, .6);
  margin: 6px 0 15px;
}

.brand {

  display: block;


  &__link {

    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: $dark-color;
    letter-spacing: .5px;
    vertical-align: middle;
  }
}

.name {

  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: $dark-gray-color;
  margin: 0 0 0 14px;
  vertical-align: middle;
  padding: 0 0 2px;
}

.type {

  display: block;
  font-size: 14px;
  color: $dark-color;
  margin: 15px 0 0;
}

.label {

  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.value {

  display: inline-block;
  vertical-align: middle;
}

.prescription {

  display: block;
  margin: 10px 0 0;
}