
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 20px 0 0;
}

.section {

  display: block;

  & + & {

    margin: 20px 0 0;
  }
}

.paging {

  display: block;
  background: rgba($white, .15);
  padding: 20px;
  margin: 40px 0 0;
  border-radius: 3px;
}
