
@import "~@ui.packages/theme";

.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  overflow: auto;
}

.center {

  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: auto;
}

.header {

  display: block;
  background: $coal-dark;
}

.page {

  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: auto;
  z-index: 10;
}

.aside {

  display: block;
  background: $whitesmoke;
  border-right: 1px solid $pale-lilac;
  width: 300px;

  &__wrapper {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
  }
}

.navigate {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.content {

  display: flex;
  flex: 1 1;
  flex-direction: column;
  background: $white;
  width: 100%;
  overflow: auto;
  z-index: 10;
}

.footer {

  display: block;
  padding: 20px;
}

.sign-out {

  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}