
@import "~@ui.packages/theme";

.navigate {

  display: block;
  font-size: 0;

  &__item {

    display: inline-block;
    color: $dark-color;
    background: transparent;
    cursor: pointer;
    transition: background 400ms;

    &:hover {

      background: rgba($info-color, .2);
    }

    &--active,
    &--active:hover {

      background: $info-color;
    }
  }

  &__link {

    display: block;
    padding: 18px 20px 15px;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  &__text {

    font: 16px 'Helvetica Neue',sans-serif;
    letter-spacing: .5px;
    color: inherit;
  }
}