
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.attrs {

  display: block;
  width: 100%;
  box-sizing: border-box;
}

.attr {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  box-sizing: border-box;
  font-size: 0;
  justify-content: flex-end;

  & + & {

    margin: 20px 0 0;
  }

  &__title,
  &__value {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin: 0 10px 0 0;
  }

  &__units {

    display: block;
    width: 150px;
    margin: 0 10px 0 0;
  }

  &__controls {

    display: flex;
    align-items: center;
    justify-items: center;
    padding: 22px 0 0 5px;
  }

  &__remove {

    font-size: 14px;
    color: $danger;
    cursor: pointer;
  }
}

.align-right {

  text-align: right;
}

.checkbox {

  display: block;
  margin: 0 10px 0 0;
  padding: 28px 0 0;
}

.unit {

  display: block;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  padding: 14px 17px;
  background: $pale-grey;
  border-radius: 5px;
  margin: 17px 0 0;
}
