
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.content {

  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0 200px;
}

.promo {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  height: 400px;
}

.gallery {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: url("./background.jpg") no-repeat center/100%;
  background-size: cover;
  border-radius: 3px;
}

.promotions {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 0 0 20px;
  background: $coal-dark;
  width: 500px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.products {

  display: block;
  margin: 80px 0 0;
}
