
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.content {

  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0 200px;
}

.promotions {

  display: block;
  height: 300px;
  background: white;
}

.categories {

  display: block;
}
