
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.content {

  display: block;
  width: 1024px;
  margin: 0 auto;
  padding: 60px 0 200px;
}

.types {

  display: block;
}

.categories {

  display: block;
  margin: 120px 0 0;
}


.sign-up {

  display: block;
  margin: 120px 0 0;
}
