
@import "~@ui.packages/theme";


.navigate {

  display: block;
  font-size: 0;

  &__home {

    display: inline-block;
    color: $coal-dark;
    background: transparent;
    cursor: pointer;
    transition: color 400ms;
    vertical-align: bottom;

    &--active,
    &--active:hover {

      color: $primary;
    }
  }

  &__home-link {

    display: block;
    text-decoration: none;
    color: inherit;
    outline: none;
    padding: 16px 14px 17px 0;
  }

  &__home-text {

    font-size: 16px;
  }

  &__item {

    display: inline-flex;
    color: $coal-dark;
    background: transparent;
    cursor: pointer;
    transition: color 400ms;
    align-items: center;
    vertical-align: bottom;

    &:before {

      display: inline-block;
      content: '';
      width: 3px;
      height: 3px;
      background: $dark-grey;
      border-radius: 50%;
    }

    &:hover {

      color: $primary;
    }

    &--active,
    &--active:hover {

      color: $primary;
    }
  }

  &__link {

    display: block;
    padding: 18px 14px 15px;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  &__text {

    font-size: 16px;
    color: inherit;
  }
}