
@import "~@ui.packages/theme";


.information {

  display: block;
}

.header {

  display: block;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid $coal-dark;
}

.content {

  display: block;
  margin: 40px 0 0;
}

.line {

  display: block;
  font-size: 14px;
  color: $coal-dark;
  margin: 20px 0 0;

  &__label {

    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }

  &__value {

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
  }
}