
@import "~@packages/theme";


.actions {

  display: block;
  text-align: center;
  font-size: 0;

  &__item {

    display: inline-block;
    font-size: 15px;
    outline: none;
    color: $gray-color;
    cursor: pointer;
    transition: color 200ms;

    & + & {

      margin: 0 0 0 10px;
    }

    &--trash {
      color: lighten($danger-color, 30%);
      &:hover {
        color: $danger-color;
      }
    }

    &--return {
      color: lighten($primary-color, 30%);
      &:hover {
        color: $primary-color;
      }
    }

    &--edit {
      color: lighten($success-color, 30%);
      &:hover {
        color: $success-color;
      }
    }
  }
}

.amount {

  display: block;
  text-align: right;
  color: $dark-color;
  font-size: 0;
  padding: 10px;

  &__value {

    display: inline-block;
    font: 13px "Opinion Pro";
    //font-weight: bold;
    margin: 0 4px 0 0;
  }

  &__currency {

    display: inline-block;
    font: 13px "Opinion Pro";
    //font-weight: bold;
  }
}

.image {

  width: 140px;
  height: 160px;
}

.attributes {

  display: block;
  padding: 10px;

  &__item {

    display: block;
    font: 12px "Opinion Pro";
    white-space: nowrap;

    & + & {

      margin: 10px 0 0;
    }
  }

  &__name {

    display: inline-block;
    font-weight: bold;
    margin: 0 4px 0 0;
  }

  &__value {

    display: inline-block;
  }
}