
@import "~@ui.packages/theme";


.container {

  display: block;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
}

.content {

  display: block;
  margin: 40px 0 0;
  padding: 0 20px;
}

.block {

  display: flex;
  flex: 1 0;
  flex-direction: row;

  & + & {

    margin-top: 30px;
  }

  &__label {

    display: block;
    width: 200px;
  }
}

.label {

  display: inline-block;

  &__icon {

    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 24px;
    color: $primary;
  }

  &__caption {

    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $blue-grey;
    padding: 2px 0 0;
  }
}

.paragraph {

  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: $coal-dark;
}
