
@import "~@ui.packages/theme";


.container {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  border: 1px solid $pale-lilac;
  border-radius: 3px;
  overflow: hidden;
  transition: border 400ms;

  &--info {

    border-color: $information;
  }

  &--primary {

    border-color: $primary;
  }

  &--success {

    border-color: $success;
  }

  &--warning {

    border-color: $warning;
  }

  &--danger {

    border-color: $danger;
  }

  &--disabled {

    background: $pale-lilac;
    border-color: $gray;
  }
}

.input {

  display: block;
  padding: 8px 10px 7px 10px;
  color: #222;
  font-size: 14px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  letter-spacing: .5px;
  background: transparent;

  &:disabled {

    border-color: $pale-lilac;
    color: $gray;
  }
}
