
@import "~@ui.packages/theme";


.product {

  display: flex;
  flex: 1 0;
  flex-direction: row;

  & + & {

    margin: 30px 0 0;
    padding: 50px 0 0;
    border-top: 1px solid $pale-lilac;
  }
}

.gallery {

  display: block;
  width: 180px;
  height: 135px;
  text-align: center;
}

.content {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.remove {

  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px;
  color: $gray;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}

.name {

  display: block;
}

.link {

  display: inline-block;
  color: $black;
}

.brand {

  display: block;
  margin: 8px 0 0;
}

.amount {

  display: block;
  margin: 20px 0 0;
}
