
@import "~@ui.packages/theme";


.paging {

  display: inline-block;
}

.pages {

  display: inline-block;
}

.start {

  display: inline-block;
  margin: 0 15px 0 0;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $blue-grey;
  }
}

.prev {

  display: inline-block;
  margin: 0 25px 0 0;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $blue-grey;
  }
}

.next {

  display: inline-block;
  margin: 0 0 0 25px;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $blue-grey;
  }
}

.end {

  display: inline-block;
  margin: 0 0 0 15px;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $blue-grey;
  }
}

.page {

  display: inline-block;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;

  &--active {

    color: $primary;
    text-decoration: underline;
  }

  & + & {
    margin: 0 0 0 15px;
  }
}