
@import "~@ui.packages/theme";


.paging {

  display: inline-block;
}

.pages {

  display: inline-block;
}

.start {

  display: inline-block;
  margin: 0 10px 0 0;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;
  width: 35px;
  padding: 10px 0;
  border: 1px solid $pale-lilac;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  transition: color 200ms, border-color 200ms, background 200ms;

  &:hover {

    color: $primary;
    border-color: $primary;
  }

  &--disabled,
  &--disabled:hover {

    color: $pale-lilac;
    background: $very-light-pink;
    border-color: $pale-lilac;
    cursor: default;
  }
}

.prev {

  display: inline-block;
  margin: 0 25px 0 0;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;
  width: 35px;
  padding: 10px 0;
  border: 1px solid $pale-lilac;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  transition: color 200ms, border-color 200ms, background 200ms;

  &:hover {

    color: $primary;
    border-color: $primary;
  }

  &--disabled,
  &--disabled:hover {

    color: $pale-lilac;
    border-color: $pale-lilac;
    background: $very-light-pink;
    cursor: default;
  }
}

.next {

  display: inline-block;
  margin: 0 0 0 25px;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;
  width: 35px;
  padding: 10px 0;
  border: 1px solid $pale-lilac;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  transition: color 200ms, border-color 200ms, background 200ms;

  &:hover {

    color: $primary;
    border-color: $primary;
  }

  &--disabled,
  &--disabled:hover {

    color: $pale-lilac;
    border-color: $pale-lilac;
    background: $very-light-pink;
    cursor: default;
  }
}

.end {

  display: inline-block;
  margin: 0 0 0 10px;
  color: $coal-dark;
  cursor: pointer;
  font-size: 14px;
  width: 35px;
  padding: 10px 0;
  border: 1px solid $pale-lilac;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  transition: color 200ms, border-color 200ms, background 200ms;

  &:hover {

    color: $primary;
    border-color: $primary;
  }

  &--disabled,
  &--disabled:hover {

    color: $pale-lilac;
    border-color: $pale-lilac;
    background: $very-light-pink;
    cursor: default;
  }
}

.page {

  display: inline-block;
  color: $coal-dark;
  cursor: pointer;
  font: 14px "Istok Web", sans-serif;
  font-weight: 700;
  width: 35px;
  padding: 7px 0;
  border: 1px solid $pale-lilac;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  transition: color 200ms, border-color 200ms, background 200ms;

  &:hover {

    color: $primary;
    border-color: $primary;
  }

  &--active,
  &--active:hover {

    color: $white;
    background: $primary;
    border-color: $primary;
  }

  &--disabled,
  &--disabled:hover {

    color: $pale-lilac;
    border-color: $pale-lilac;
    background: $very-light-pink;
    cursor: default;
  }

  & + & {
    margin: 0 0 0 10px;
  }
}