
@import "~@ui.packages/theme";


.paging {

  display: inline-block;
}

.pages {

  display: inline-block;
}

.start {

  display: inline-block;
  margin: 0 15px 0 0;
  color: $dark-color;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $dark-gray-color;
  }
}

.prev {

  display: inline-block;
  margin: 0 25px 0 0;
  color: $dark-color;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $dark-gray-color;
  }
}

.next {

  display: inline-block;
  margin: 0 0 0 25px;
  color: $dark-color;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $dark-gray-color;
  }
}

.end {

  display: inline-block;
  margin: 0 0 0 15px;
  color: $dark-color;
  cursor: pointer;
  font-size: 14px;

  &--disabled {

    color: $dark-gray-color;
  }
}

.page {

  display: inline-block;
  color: $dark-color;
  cursor: pointer;
  font-size: 14px;

  &--active {

    color: $primary-color;
    text-decoration: underline;
  }

  & + & {
    margin: 0 0 0 15px;
  }
}