
@import "~@ui.packages/theme";

.header {

  display: block;
  color: $white-color;
  padding: 15px 20px;
  align-items: center;

  &__title {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
  }

  &__cart {

    display: block;
  }
}