
@import "~@ui.packages/theme";


.footer {

  display: block;
  width: 100%;
}

.link {

  display: inline-block;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  color: $white;
  text-decoration: underline;
  transition: color 200ms;

  &:hover {

    color: $primary;
  }
}

.row {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.col {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {

    text-align: right;
  }
}

.paragraph {

  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: $white;
  line-height: 1.5;
}
