
$info-color:         #ffe659 !default;
$warning-color:      #e86b20 !default;
$success-color:      #50c191 !default;
$danger-color:       #e83841 !default;
$primary-color:      #5883f0 !default;

$dark-color:         #222    !default;
$white-color:        #fff    !default;
$whitesmoke-color:   #fafafa !default;

$dark-gray-color:    #9a9a9a !default;
$gray-color:         #c2c2c2 !default;
$light-gray-color:   #eee    !default;
