


$coral:            #ff514f !default;
$squash:           #f79e1b !default;

$pale-grey:        #fafafb !default;
$charcoal-grey:    #44444f !default;
$pale-grey-three:  #e6eaee !default;
$blue-grey-three:  #8191a5 !default;

$pale-lilac:       #e2e2ea !default;
$blue-grey-2:      #7f8fa4 !default;
$pinkish-grey:     #c0c0c0 !default;
$navy-blue:        #002148 !default;
$primary:          #077dee !default;
$very-light-pink:  #f9f7f7 !default;
$slate-grey:       #65657c !default;
$pinkish-grey:     #c0c0c0 !default;

$green-5:            rgba(#1bb934, .05%) !default;
$sienna-5:           rgba(#b9311b, .05%) !default;
$blue-grey-5:        rgba(#7f8fa4, .05%) !default;
$cerulean-blue-5:    rgba(#077dee, .05%) !default;
$very-light-pink-5:  rgba(#f9f7f7, .05%) !default;
$yellowish-orange-5: rgba(#f79e1b, .05%) !default;

$green:             rgba(#1bb934, .05%) !default;
$sienna:            rgba(#b9311b, .05%) !default;
$very-light-pink-5: rgba(#f9f7f7, .05%) !default;
$yellowish-orange:  rgba(#f79e1b, .05%) !default;


$info-color:         #ffe659 !default;
$warning-color:      #e86b20 !default;
$success-color:      #1ca54b !default;
$danger-color:       #e83841 !default;
$primary-color:      #5883f0 !default;

$dark-color:         #151b23 !default;
$white-color:        #fff    !default;

$dark-gray-color:    #9a9a9a !default;
$light-gray-color:   #eee    !default;




$danger:           #b9311b !default;
$warning:          #da6926 !default;
$success:          #1bb934 !default;
$primary:          #077dee !default;
$information:      #ffc542 !default;

$black:            #000000 !default;
$coal-dark:        #171725 !default;
$dark-grey:        #354052 !default;
$blue-grey:        #92929d !default;
$gray:             #c2c2c2 !default;
$pale-lilac:       #e2e2ea !default;
$very-light-pink:  #f7f7f7 !default;
$whitesmoke:       #fafafa !default;
$white:            #ffffff !default;
