
@import "~@ui.packages/theme";


.container {

  width: 700px;
  box-sizing: border-box;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: auto;
}

.header {

  display: block;
  font: 14px "Istok Web", sans-serif;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.controls {

  display: block;
  text-align: center;
  margin: 30px 0 0;
}

.blank {

  display: flex;
  flex: 1 0;
  flex-direction: column;

  & + & {

    margin: 40px 0 0;
  }

  &__top-header {

    display: block;
    font: 16px "Istok Web", sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__line {

    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: center;

    & + & {
      margin: 10px 0 0;
    }
  }

  &__header {

    font: 14px "Istok Web", sans-serif;
    text-align: center;
  }

  &__label {

    display: block;
    width: 110px;
    font: 14px "Istok Web", sans-serif;
  }

  &__value {

    display: flex;
    flex: 1 0;
    flex-direction: column;

    & + & {
      margin: 0 0 0 10px;
    }
  }
}

.eyes {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin: 20px 0 40px;

  &__content {

    display: flex;
    flex: 1 0;
    flex-direction: row;
  }

  &__row {

    display: flex;
    flex: 1 0;
    flex-direction: column;

    & + & {

      margin: 0 0 0 20px;
    }
  }
}
