
@import "~@ui.packages/theme";


.lens {

  display: block;
  color: $dark-color;
  margin: 20px 0 0;

  &__item {

    display: inline-block;
    background: $light-gray-color;
    border-radius: 3px;
    padding: 4px 8px;
    box-shadow: 0 1px 3px 0 rgba($dark-color, .4);

    & + & {

      margin: 0 0 0 15px;
    }
  }

  &__label {

    display: inline-block;
    font-size: 12px;
    margin: 0 4px 0 0;
    font-weight: bold;
  }

  &__value {

    display: inline-block;
    font-size: 12px;
    text-align: center;
  }
}