
@import "~@ui.packages/theme";


.recipe {

  display: block;
  margin: 20px 0;
  width: 350px;
  background: $white;
  padding: 4px;
  border-radius: 3px;
  color: $coal-dark;
  box-shadow: 0 1px 3px 0 rgba($coal-dark, .4);

  &__line {

    display: flex;
    flex: 1 0;
    flex-direction: row;

    & + & {
      border-top: 1px solid $pale-lilac;
    }
  }

  &__label {

    display: block;
    width: 30px;
    padding: 6px 0 6px 6px;
    font: 12px "Istok Web", sans-serif;
  }

  &__value {

    display: flex;
    flex: 1 0;
    flex-direction: column;
    font: 12px "Istok Web", sans-serif;
    padding: 6px 0;
    text-align: center;
  }
}