
@import "~@ui.packages/theme";


.recipe {

  display: block;
  margin: 20px 0;
  width: 350px;
  background: $white-color;
  padding: 4px;
  border-radius: 3px;
  color: $dark-color;
  box-shadow: 0 1px 3px 0 rgba($dark-color, .4);

  &__line {

    display: flex;
    flex: 1 0;
    flex-direction: row;

    & + & {
      border-top: 1px solid $light-gray-color;
    }
  }

  &__label {

    display: block;
    width: 30px;
    padding: 6px 0 6px 6px;
    font-size: 12px;
  }

  &__value {

    display: flex;
    flex: 1 0;
    flex-direction: column;
    font-size: 12px;
    padding: 6px 0;
    text-align: center;
  }
}