
@import "~@ui.packages/theme";


.cart {

  position: relative;
  display: block;

  &__wrapper {

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background 400ms;

    &--open,
    &:hover {

      background: $white;
    }
  }

  &__list {

    position: absolute;
    right: 0;
    top: 100%;
    padding: 10px 0 0;
    width: 500px;
    z-index: 9999;
  }

  &__empty {

    display: block;
    padding: 20px;
    font: 14px "Istok Web", sans-serif;
    color: $coal-dark;
    text-align: center;
    background: $white;
  }

  &__full-amount {

    text-align: right;
    font: 14px "Istok Web", sans-serif;
    font-weight: 700;
    color: $coal-dark;
  }

  &__link {

    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 8px;
    font: 12px "Istok Web", sans-serif;
    border: 1px solid $gray;
    text-decoration: none;
    outline: none;
    color: $coal-dark;
    background: $gray;
    font-weight: bold;
    letter-spacing: .5px;
    cursor: pointer;

    &:hover {
      background: $gray;
    }
  }

  &__pay {

    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 4px;
    font: 12px "Istok Web", sans-serif;
    text-decoration: none;
    outline: none;
    color: $white;
    background: $primary;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;

    &:hover {
      background: darken($primary, 5%);
    }
  }
}

.list {

  position: relative;
  display: block;
  background: $white;
  box-shadow: 0 6px 10px 2px $gray;
  border-radius: 15px;

  &:before {

    position: absolute;
    right: 40px;
    bottom: 100%;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: $white;
    border-top: none;
  }

  &__content {

    display: block;
    padding: 20px;
    max-height: 300px;
    overflow: auto;
  }

  &__info {

    display: block;
    padding: 20px;
  }

  &__controls {

    display: block;
    padding: 20px;
    text-align: right;
  }
}

.item {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;

  & + & {

    margin: 10px 0 0;
    border-top: 1px solid $gray;
    padding: 10px 0 0;
  }

  &__promo {

    display: flex;
    width: 60px;
    height: 50px;
  }

  &__description {

    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    padding: 0 20px 0 20px;
    align-items: center;
  }

  &__names {

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 260px;
    margin: 0 20px 0 0;
  }

  &__count {

    display: block;
  }

  &__amount {

    display: block;
    text-align: right;
    font: 13px "Istok Web", sans-serif;
    color: $coal-dark;
  }

  &__brand {

    display: block;
    font: 14px "Istok Web", sans-serif;
    font-weight: 700;
    color: $coal-dark;
  }

  &__name {

    display: block;
    font: 12px "Istok Web", sans-serif;
    color: $coal-dark;
    margin: 5px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
