
@import "~@ui.packages/theme";


.confirm {

  display: block;
  padding: 20px;

  &__message {

    display: block;
    font-size: 14px;
    color: $coal-dark;
    text-shadow: 2px 1px 0 $whitesmoke;
  }

  &__controls {

    display: block;
    text-align: right;
    margin: 30px 0 0;
  }
}