
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.page {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: hidden;
}

.aside {

  display: block;
  background: $white;
  box-shadow: 0 3px 10px 0 rgba($pale-lilac, .5);
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  overflow: auto;
}
