
@import "../../../../../node_modules/@ui.packages/theme";

.wrapper {

  display: block;
  margin: 0 0 40px;
}

.form {

  display: block;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  padding: 30px;
}

.controls {

  display: block;
  padding: 20px;
  border-top: 1px solid $pale-lilac;
  text-align: center;
}

.delimiter {

  margin: 40px 30px 60px;
}
