
@import "~@ui.packages/theme";


.header {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  color: $white;
  align-items: center;

  &__title {

    display: flex;
    flex: 1 0 auto;
    padding: 20px 0;
    flex-direction: column;
  }

  &__cart {

    display: block;
  }
}

.container {

  display: block;
}
