
@import "~@ui.packages/theme";


.header {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  color: $white;
  align-items: center;
}

.title {

  display: flex;
  flex: 1 0 auto;
  padding: 20px 0;
  flex-direction: column;
}

.search {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 40px;
}

.cart {

  display: block;
}

.container {

  display: block;
}
