
@import "~@ui.packages/theme";


.actions {

  display: block;
  text-align: center;
  font-size: 0;

  &__item {

    display: inline-block;
    font-size: 15px;
    outline: none;
    color: $gray-color;
    cursor: pointer;
    transition: color 200ms;

    & + & {

      margin: 0 0 0 10px;
    }

    &--trash {
      color: lighten($danger-color, 30%);
      &:hover {
        color: $danger-color;
      }
    }

    &--return {
      color: lighten($primary-color, 30%);
      &:hover {
        color: $primary-color;
      }
    }

    &--edit {
      color: lighten($success-color, 30%);
      &:hover {
        color: $success-color;
      }
    }
  }
}

.image {

  width: 140px;
  height: 160px;
}

.col {

  display: block;
  padding: 10px;
}

.name,
.brand,
.amount {

  display: block;
  font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.amount {

  display: block;
  text-align: right;
  color: $dark-color;
  font-size: 0;
  padding: 10px;

  &__value {

    display: inline-block;
    font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    //font-weight: bold;
    margin: 0 4px 0 0;
  }

  &__currency {

    display: inline-block;
    font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    //font-weight: bold;
  }
}