
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  box-sizing: border-box;
}

.content {

  display: block;
  width: 1024px;
  margin: 0 auto;
  padding: 60px 0 120px;
}

.breadcrumbs {

  display: block;
  box-shadow: 0 1px 20px 0 rgba($dark-color, .08);

  &__content {

    display: block;
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.controls {

  margin-top: 80px;
  text-align: right;
}

.message {

  display: block;
  font-size: 14px;
  color: $dark-color;
  margin: 0 0 20px;
}