
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.line {

  display: block;

  & + & {

    margin: 12px 0 0;
  }
}

.title {

  display: inline-block;
  width: 250px;
}

.value {

  display: inline-block;
  margin: 0 0 0 10px;
}

.description {

  display: block;
  margin: 0 0 40px;
}
