
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  margin: 0 0 60px;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.filter {

  display: block;
  width: 280px;
}

.list {

  display: block;
  margin: 0 0 0 20px;
}

.section {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  box-sizing: border-box;

  & + & {

    margin: 20px 0 0;
  }
}
