
@import "~@ui.packages/theme";


.dialog {

  display: block;
  margin: auto;
  width: 450px;
  background: $white;
  box-shadow: 0 0 3px 1px rgba($pale-lilac, .8);
  border-radius: 4px;
  overflow: hidden;

  &__header {

    display: block;
    padding: 18px 20px 14px;
    font-size: 16px;
    font-weight: bold;
  }

  &__content {

    display: block;
    padding: 40px 60px 25px;
  }

  &__controls {

    display: block;
    padding: 10px 20px 30px;
    text-align: center;
  }
}