
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  padding: 0 0 4px 20px;
  margin: 0 0 10px;
}

.content {

  display: block;
  border-radius: 5px;
  background: $whitesmoke;
  padding: 40px 40px;
}
