
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: row;
  overflow: hidden;
  transition: border 400ms;
  min-width: 40px;
  min-height: 60px;

  &--info {

    border-color: $information;

    .label,
    .input,
    .info__icon {
      color: darken($information, 10%);
    }
  }

  &--primary {

    border-color: $primary;

    .label,
    .input,
    .info__icon {
      color: darken($primary, 10%);
    }
  }

  &--success {

    border-color: $success;

    .label,
    .input,
    .info__icon {
      color: darken($success, 10%);
    }
  }

  &--warning {

    border-color: $warning;

    .label,
    .input,
    .info__icon {
      color: darken($warning, 10%);
    }
  }

  &--danger {

    border-color: $danger;

    .label,
    .input,
    .info__icon {
      color: darken($danger, 10%);
    }
  }
}

.image {

  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 10;
}

.loading {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: $whitesmoke;
  z-index: 20;
}

.error {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $white;
  align-items: center;
  z-index: 20;

  &__icon {

    font-size: 60px;
    color: $pale-lilac;
  }
}

