
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  padding: 60px 0 120px;
  width: 1200px;
  margin: 0 auto;
}

.filter {

  display: block;
  width: 280px;
}

.controls {

  display: block;
  background: rgba($white, .15);
  padding: 20px 20px 16px;
  border-radius: 3px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 20px;
}

//.controls {
//
//  display: block;
//  background: rgba($white, .15);
//  padding: 20px;
//  border-radius: 3px;
//}
