
@import "~@packages/theme";


.checkbox {

  display: inline-flex;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  border: 1px solid $light-gray-color;
  border-radius: 2px;
  cursor: pointer;
  background: $white-color;
  color: $dark-color;
  font-size: 0;
  outline: none;
  justify-content: center;
  align-items: center;
  transition: background 400ms;

  & + & {
    margin: 0 0 0 10px;
  }

  &__marker {

    display: inline-flex;
    font-size: 13px;
  }

  &--disabled {

    background: $light-gray-color;
    border-color: $gray-color;
    color: $gray-color;
    text-shadow: -1px 1px 0 $white-color;
    cursor: default;
  }

  &--info {

    border-color: $info-color;
    background: $info-color;
    color: $dark-color;

    &:hover {
      background: darken($info-color, 10%);
    }
  }

  &--primary {

    border-color: $primary-color;
    background: $primary-color;
    color: $white-color;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  &--success {

    border-color: $success-color;
    background: $success-color;
    color: $white-color;

    &:hover {
      background: darken($success-color, 10%);
    }
  }

  &--warning {

    border-color: $warning-color;
    background: $warning-color;
    color: $white-color;

    &:hover {
      background: darken($warning-color, 10%);
    }
  }

  &--danger {

    border-color: $danger-color;
    background: $danger-color;
    color: $white-color;

    &:hover {
      background: darken($danger-color, 10%);
    }
  }
}