
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  background: $coal-dark url("./noise.png");
  overflow: auto;
}

.center {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: row;
  margin: 0 auto;
  width: 1024px;
}

.menu {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.controls {

  display: block;
}

.link {

  display: inline-block;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  color: $coal-dark;
  background: transparent;
  cursor: pointer;
  transition: color 400ms;
  align-items: center;
  vertical-align: bottom;
}

.tablet {

  .center {
    width: 800px;
    background: red;
  }
}

.header {

  display: block;
  background: $coal-dark;
}

.page {

  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  z-index: 10;
}

.aside {

  display: block;
}

.navigate {

  display: block;
  background: $whitesmoke;
  border-bottom: 1px solid rgba($gray, .2);
}

.content {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.footer {

  display: block;
  padding: 20px;
  background: $coal-dark;
  border-top: 1px solid $blue-grey;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
}
