
@import "~@ui.packages/theme";

.list {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  &__line {

    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: 10px 10px 8px;
    background: $whitesmoke-color;

    &:nth-child(even) {
      background: transparent;
    }
  }

  &__col {

    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    font: 14px "Opinion Pro";
    color: $dark-color;
  }
}
