
@import "~@ui.packages/theme";


.header {
  
  display: block;
  font: 14px "Istok Web", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.paragraph {

  display: block;
  font: 14px "Istok Web", sans-serif;
  line-height: 1.4;
}

.features {

  display: block;
  margin: 20px 0 0;
  padding: 80px 0 0;
}

.breadcrumbs {

  display: block;
  box-shadow: 0 1px 20px 0 rgba($coal-dark, .08);

  &__content {

    display: block;
    width: 1024px;
    margin: 20px auto;
  }
}

.product {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  &__content {

    display: block;
    width: 1024px;
    margin: 20px auto 190px;
  }

  &__uuid {

    display: block;
    font: 12px "Istok Web", sans-serif;
    color: $gray;
    margin: 0 0 10px;
  }

  &__brand {

    display: block;
    font: 25px "Istok Web", sans-serif;
    font-weight: bold;
    color: $coal-dark;
    letter-spacing: 1px;
  }

  &__name {

    display: block;
    font: 13px "Istok Web", sans-serif;
    color: $blue-grey;
    margin: 4px 0 0;
  }

  &__amount {

    display: block;
    font: 20px "Istok Web", sans-serif;
    margin: 30px 0 0;
    color: $coal-dark;
  }

  &__description {

    display: block;
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: 1px solid $pale-lilac;
    width: 340px;

    &__header {

      display: block;
      font: 14px "Istok Web", sans-serif;
      font-weight: 700;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: $coal-dark;
      margin: 0 0 20px;
    }
  }

  &__common {

    display: flex;
    flex: 1 0;
    flex-direction: row;
    margin: 30px 0 0;
  }

  &__gallery {

    display: flex;
    width: 700px;
    height: 600px;
    background: $pale-lilac;
  }

  &__commands {

    display: flex;
    flex: 0 1;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid $pale-lilac;
    margin: 0 0 0 20px;
    padding: 30px;
  }

  &__feature {

    display: flex;
    flex: 0 0;
    flex-direction: column;
    margin: 0 0 80px;
    border-radius: 15px;
    border: 1px solid $pale-lilac;
    padding: 30px;
  }

  &__list {

    display: block;
    margin: 30px 0 0;
  }
}

.controls {

  display: block;
  margin: 30px 0 0;
}

.cart {

  display: inline-block;
  background: $primary;
  color: $white;
  font-size: 14px;
  border-radius: 8px;
  padding: 16px 20px;
  font-weight: bold;
  width: 160px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba($primary, .5);
  white-space: nowrap;
  transition: background 400ms;
  vertical-align: middle;

  &:hover {
    background: darken($primary, 10%);
  }

  &__caption {

    font: 14px "Istok Web", sans-serif;
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.remove {

  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 0 10px;
  color: $gray;
  vertical-align: middle;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}

.to-order {

  display: inline-block;
  color: $primary;
}

.has-in-case {

  display: block;
  margin: 15px 0 0;
  font: 12px "Istok Web", sans-serif;
  color: $blue-grey;
}

.comments {

  display: block;
  border: 1px solid $pale-lilac;
  padding: 30px 30px 70px;
  border-radius: 15px;

  &__controls {

    display: flex;
    flex: 1 0;
    border-bottom: 1px solid rgba($coal-dark, .05);
    padding: 0 0 25px;
    align-items: center;
  }

  &__header {

    display: flex;
    flex: 1 0;
    font: 14px "Istok Web", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
  }

  &__link {

    display: inline-block;
    font: 14px "Istok Web", sans-serif;
    color: $primary;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid $primary;
    padding: 7px 12px 6px;
    text-decoration: none;

    &:hover {

      text-decoration: underline;
    }
  }

  &__empty {

    display: inline-block;
    font: 14px "Istok Web", sans-serif;
    color: $coal-dark;
  }

  &__content {

    display: block;
    margin: 30px 0 0;
  }

  &__count {

    color: $blue-grey;
    font-weight: normal;
    padding: 0 0 0 20px;
  }
}
