
@import "~@ui.packages/theme";


.container {

  padding: 20px;
  box-sizing: border-box;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
}

.controls {

  display: block;
  text-align: right;
  border-top: 1px solid $pale-lilac;
  padding: 20px 0 0;
}