
@import "~@ui.packages/theme";


.header {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 22px;
  color: $coal-dark;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {

  font-weight: 700;
}
