
@import "~@ui.packages/theme";


.breadcrumbs {

  display: block;

  &__item {

    display: inline-block;
    vertical-align: middle;
  }

  &__delimiter {

    display: block;
    font: 14px "Istok Web", sans-serif;
    color: $gray;
    padding: 0 10px;
  }

  &__link {

    display: block;
    color: $primary;
    font: 14px "Istok Web", sans-serif;
  }

  &__title {

    display: block;
    color: $coal-dark;
    font: 14px "Istok Web", sans-serif;
  }
}
