
.field {

  position: relative;
  display: block;

  & + & {
    margin: 15px 0 0;
  }

  &__label {

    position: absolute;
    display: inline-block;
    font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-weight: bold;
    margin: 0 0 0 2px;
  }

  &__container {

    padding: 20px 0;
  }

  &__input {

    display: block;
    padding: 10px;
    border: 1px solid #e5eef5;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font: 15px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    transition: border-color 400ms;

    &:focus {

      border-color: #c1cad1;
    }
  }

  &__error {

    position: absolute;
    bottom: 0;
    display: inline-block;
    color: #d50000;
    font: 12px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-weight: bold;

    &:before {
      content: '- ';
    }
  }


  &--error &__label {
    color: #d50000
  }

  &--error &__input {
    border-color: #d50000;
  }

}
