
@import "~@ui.packages/theme";


.block {

  display: block;

  & + & {

    margin: 60px 0 0;
  }

  &:last-child {

    border: none;
  }

  &__header {

    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $coal-dark;
  }

  &__content {

    display: block;
    margin: 30px 0 0;
  }
}

.information {

  margin: 0 0 40px;
}

.paragraph {

  display: block;
  font-size: 14px;
}
