
@import "~@ui.packages/theme";


.wrapper {

  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  cursor: pointer;
}

.block {

  display: block;
  width: 12px;
  height: 18px;
  background-color: $primary;
  border-radius: 5px 5px 0 0;
}

.arrow {

  display: block;
  width: 0;
  border: 6px solid transparent;
  border-bottom: none;
  border-top-color: $primary;
}
