
@import "~@ui.packages/theme";


.footer {

  display: block;
  width: 100%;
}

.link {

  display: inline-block;
  font: 14px "Istok Web", sans-serif;
  color: $white;
  text-decoration: underline;
  transition: color 200ms;

  &:hover {

    color: $primary;
  }
}

.row {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.col {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {

    text-align: right;
  }
}

.paragraph {

  display: block;
  font: 500 14px "Istok Web";
  color: $white;
  line-height: 1.5;
}