
@import "~@ui.packages/theme";


.item {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  align-items: center;

  & + & {

    margin: 10px 0 0;
    border-top: 1px solid $pale-lilac;
    padding: 10px 0 0;
  }

  &__promo {

    display: flex;
    width: 60px;
    height: 50px;
  }

  &__description {

    display: flex;
    flex: 1 0;
    flex-direction: row;
    padding: 0 20px 0 20px;
    align-items: center;
  }

  &__names {

    display: flex;
    flex: 1 0;
    flex-direction: column;
    width: 260px;
    margin: 0 20px 0 0;
  }

  &__count {

    display: block;
  }

  &__amount {

    display: block;
    text-align: right;
    font: 13px "Istok Web", sans-serif;
    color: $coal-dark;
  }

  &__brand {

    display: block;
    font: 14px "Istok Web", sans-serif;
    font-weight: 700;
    color: $coal-dark;

    &-link {

      color: inherit;
    }
  }

  &__name {

    display: block;
    font: 12px "Istok Web", sans-serif;
    line-height: 1.4;
    color: $coal-dark;
    margin: 5px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.remove {

  font-size: 14px;
  color: $gray;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}