
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  min-width: 900px;
  max-width: 1200px;
}

.section {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.aside {

  display: block;
  width: 140px;
  margin: 35px 0 0 60px;
}

.link {

  display: block;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: $primary;
  }

  &--active {
    color: $primary;
    text-decoration: underline;
  }

  & + & {
    margin: 20px 0 0;
  }
}

.caption {

  display: block;
}
