
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  border: 1px solid $light-gray-color;
  border-radius: 3px;
  overflow: hidden;
  transition: border 400ms;

  &--info {
    border-color: $info-color;
  }

  &--primary {
    border-color: $primary-color;
  }

  &--success {
    border-color: $success-color;
  }

  &--warning {
    border-color: $warning-color;
  }

  &--danger {
    border-color: $danger-color;
  }

  &--disabled {

    background: $light-gray-color;
    border-color: $gray-color;
  }
}

.textarea {

  display: block;
  padding: 10px 0 8px 10px;
  color: #222;
  font-size: 14px;
  outline: none;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: none;
  letter-spacing: .5px;
  background: transparent;
  resize: none;

  &:disabled {

    border-color: $light-gray-color;
    color: $gray-color;
  }
}
