
@import "~@ui.packages/theme";


.tab {

  display: inline-block;
  padding: 12px 24px;
  background: $pale-grey;
  cursor: pointer;
  border-top: 1px solid $pale-lilac;
  border-bottom: 1px solid $pale-lilac;
  transition: background 200ms, color 200ms, border 200ms;

  & + & {
    border-left: 1px solid $pale-lilac;
  }

  &:first-child {

    border-radius: 8px 0 0 8px;
    border-left: 1px solid $pale-lilac;
  }

  &:last-child {

    border-radius: 0 8px 8px 0;
    border-right: 1px solid $pale-lilac;
  }

  &:hover {

    background: $pale-lilac;
    border-color: $pale-lilac;
  }

  &__caption {

    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
  }

  &--active,
  &--active:hover {

    background: $primary;
    color: $white;
    border-color: $primary !important;
  }
}

.mode {}
