
@import "~@ui.packages/theme";


.tab {

  display: inline-block;
  padding: 18px 24px 14px;;
  background: $white;
  cursor: pointer;
  transition: background 200ms, color 200ms;

  &:first-child {

    border-radius: 4px 0 0 0;
  }

  &:last-child {

    border-radius: 0 4px 0 0;
  }

  &:hover {

    background: $pale-lilac;
  }

  &__caption {

    font: 14px "Istok Web";
    font-weight: 700;
    letter-spacing: .5px;
  }

  &--active,
  &--active:hover {

    background: $primary;
    color: $white;
  }

  &--info { background: lighten($information, 30%); }
  &--info &__header { background: $information;  }

  &--primary { background: lighten($primary, 40%); }
  &--primary &__header { background: $primary; color: $white; }
  &--primary &__close:hover { color: $white; }

  &--success { background: lighten($success, 40%); }
  &--success &__header { background: $success; color: $white; }
  &--success &__close:hover { color: $white; }

  &--warning { background: lighten($warning, 40%); }
  &--warning &__header { background: $warning; color: $white; }
  &--warning &__close:hover { color: $white; }

  &--danger { background: lighten($danger, 40%); }
  &--danger &__header { background: $danger; color: $white; }
  &--danger &__close:hover { color: $white; }
}