
@import "~@ui.packages/theme";


.block {

  display: inline-flex;
  flex-direction: column;
  width: 200px;
  height: 120px;
  background: $gray;
  color: $white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 200ms;

  & + & {

    margin: 0 0 0 20px;
  }

  &--selected {

    background: $primary;
  }

  &__icon {

    font-size: 30px;
  }

  &__caption {

    margin: 15px 0 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
  }
}

.by-post {

  @extend .block;
}
