
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.section {

  display: block;

  & + & {
    margin: 80px 0 0;
  }
}

.header {

  display: block;
  padding: 0 0 0 20px;
}

.content {

  display: block;
  margin: 25px 0 0;
}

.controls {

  display: block;
  margin: 80px 0 0;
}

.information {

  display: block;
  text-align: right;
}

.buttons {

  display: block;
  text-align: right;
  margin: 15px 0 0;
}
