
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 40px 20px 120px;
  width: 900px;
}


.block {

  display: block;
  border-bottom: 1px solid $light-gray-color;

  & + & {

    margin: 30px 0 0;
  }

  &:last-child {

    border: none;
  }

  &__header {

    display: block;
    font: 16px 'Helvetica Neue',sans-serif;
    font-weight: bold;
  }

  &__content {

    display: block;
    margin: 20px 0;
  }
}
