
@import "~@ui.packages/theme";

.wrapper {

  display: block;
}

.input {

  display: none;
}

.image {

  position: relative;
  display: inline-flex;
  width: 200px;
  height: 150px;
  border: 1px solid $light-gray-color;

  & + & {

    margin: 0 0 0 20px;
  }
}

.remove-image {

  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: $dark-gray-color;
  cursor: pointer;
  z-index: 20;
  transition: color 200ms;

  &:hover {
    color: $dark-color;
  }
}

.add-image {

  display: inline-flex;
  width: 200px;
  height: 150px;
  margin: 0 20px 0 0;
  background: $light-gray-color;
  border: 1px solid $gray;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 200ms;

  &:hover {

    background: darken($light-gray-color, 2%);
  }

  &__icon {

    display: inline-block;
    margin: auto auto;
    font-size: 40px;
    color: $gray;
    vertical-align: top;
  }
}

.content {

  display: block;
  min-height: 100px;
  font-size: 0;
}

.controls {

  display: block;
  text-align: center;
}