
@import "~@ui.packages/theme";


.header {
  
  display: block;
  font: 16px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  color: $dark-color;
  font-weight: bold;
}

.paragraph {

  display: block;
  font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  line-height: 1.4;
}

.product {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 900px;
  padding: 20px;

  &__brand {

    display: block;
    font: 30px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    font-weight: bold;
    color: $dark-color;
  }

  &__name {

    display: block;
    font: 13px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: $dark-color;
    margin: 6px 0 0;
    letter-spacing: 1px;
  }

  &__amount {

    display: block;
    font: 22px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    margin: 35px 0 0;
    color: $dark-color;
  }

  &__description {

    display: block;
    padding: 30px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid $gray-color;
    width: 340px;

    &__header {

      display: block;
      font: 18px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
      font-weight: bold;
      margin: 0 0 20px;
    }
  }

  &__list {

    display: block;
    margin: 20px 0 0;
  }

  &__common {

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
  }

  &__gallery {

    display: flex;
    width: 500px;
    height: 400px;
    background: $light-gray-color;
  }

  &__commands {

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    border-left: 1px solid $gray-color;
    margin: 0 0 0 20px;
    padding: 0 20px;
  }

  &__feature {

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 20px 0 0;
    border-top: 1px solid $gray-color;
    padding: 30px 0 0;
  }
}

.cart {

  display: block;
  background: $primary-color;
  color: $white-color;
  font: 14px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  padding: 13px 20px 10px;
  font-weight: bold;
  width: 160px;
  text-align: center;
  margin: 10px 0 0;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba($primary-color, .5);
  transition: background 400ms;

  &:hover {
    background: darken($primary-color, 10%);
  }

  &__caption {

    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.list {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 20px 0 0;

  &__line {

    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: 10px;
    background: $whitesmoke-color;

    &:nth-child(even) {
      background: transparent;
    }
  }

  &__col {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font: 14px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxigen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: $dark-color;
  }
}