
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
  margin: 0 0 60px;
  font: 700 22px "Exo 2";
  letter-spacing: .5px;
  text-align: center;
}

.line {

  display: flex;
  flex-direction: row;
  flex: 1 0;

  & + & {

    margin: 8px 0 0;
  }

  &__col {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 $pale-lilac;

    & + & {

      margin: 0 0 0 20px;
    }
  }
}

.type {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: 280px;
  overflow: hidden;

  & + & {

    margin: 0 0 0 4px;
  }
}

.type:hover .caption {

  background: rgba($coal-dark, .8);
}

.promo {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  z-index: 0;
}

.information {

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 10;
}

.caption {

  display: block;
  background: rgba($blue-grey, .8);
  transition: background-color 400ms;

  &__text {

    display: block;
    font: 500 16px "Istok Web";
    color: $white;
    padding: 15px 20px 10px;
    text-align: center;
  }
}
