
@import "~@ui.packages/theme";


.col {

  background: transparent;
  vertical-align: top;
}

.content {

  display: block;
  margin: 20px 8px 30px;
  text-align: center;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}
