
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 0 0 120px;
}

.aside {

  display: block;
  background: $white;
  box-shadow: 0 3px 10px 0 rgba($pale-lilac,.5);

}

.controls {

  display: block;
  padding: 20px 40px;
  text-align: right;
}

.content {

  display: block;
  padding: 40px;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.filter {

  display: block;
  margin: 0 0 30px;
}

.table {

  display: block;
}

.paging {

  display: block;
}
