
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  width: 940px;
}

.product {

  display: flex;
  flex: 1 0;
  flex-direction: row;
}

.gallery {

  display: block;
  width: 500px;
  height: 400px;
}

.information {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.property {

  display: block;
  border-radius: 15px;
  border: 1px solid #e2e2ea;
  margin: 30px 0 0;
  padding: 30px;
}

.description {

  display: block;
  margin: 30px 0 0;
}
