
@import "~@packages/theme";

.wrapper {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: rgba($dark-color, .2);
  z-index: 99999;
}

.dialog {

  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: $white-color;
  min-width: 500px;
  min-height: 200px;
  max-height: 90%;
  margin: auto;
  box-shadow: 0 4px 10px 0 rgba($dark-color, .1);

  &__close {

    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    transition: color 400ms;

    &:hover {
      color: $dark-color;
    }
  }

  &__header {

    display: block;
    background: $whitesmoke-color;
    border-bottom: 1px solid $light-gray-color;
    font: 14px "Opinion Pro";
    font-weight: bold;
    padding: 14px 20px 10px;
    color: $dark-color;
  }

  &__content {

    display: block;
    overflow: auto;
  }
}