
@import "~@ui.packages/theme";


.button {

  display: inline-block;
  padding: 9px 26px;
  border: 1px solid $coal-dark;
  border-radius: 5px;
  cursor: pointer;
  background: $white;
  color: $coal-dark;
  font: 14px "Istok Web", sans-serif;
  outline: none;
  transition: background 400ms;

  & + & {
    margin: 0 0 0 10px;
  }

  &:hover {
    background: darken($white, 5%);
  }

  &--info {

    border-color: $information;
    background: $information;
    color: $coal-dark;

    &:hover {
      background: darken($information, 10%);
    }
  }

  &--primary {

    border-color: $primary;
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
    }
  }

  &--success {

    border-color: $success;
    background: $success;
    color: $white;

    &:hover {
      background: darken($success, 10%);
    }
  }

  &--warning {

    border-color: $warning;
    background: $warning;
    color: $white;

    &:hover {
      background: darken($warning, 10%);
    }
  }

  &--danger {

    border-color: $danger;
    background: $danger;
    color: $white;

    &:hover {
      background: darken($danger, 10%);
    }
  }

  &--small {

    font-size: 12px;
    padding: 8px 12px;
  }

  &--large {

    font-size: 16px;
    padding: 16px 25px;
  }

  &:disabled {

    background: $gray;
    border-color: $gray;
    color: $pale-grey;
    cursor: default;
  }
}