
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: block;
  background: rgba($white, .15);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: $blue-grey;
  z-index: 20;
  transition: color 200ms;

  &:hover,
  &.is-open {
    color: $white;
  }
}

.icon {

  display: inline-block;
  font-size: 20px;
}

.has-inside {

  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $danger;
}
