
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-start;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 20px 0 0;
}

.option {

  display: block;

  &__title {

    font-size: 12px;
  }

  &__count {

    font-size: 12px;
    margin: 0 0 0 12px;
    color: $dark-gray-color;
  }
}

.controls {

  flex: 0;
  justify-content: flex-end;
}

.amounts {

  display: block;
  flex: 283px 0;
}

.amount {

  display: inline-flex;
  flex: 1 0;
  flex-direction: row;
  align-items: center;

  &__label {

    display: block;
    font-size: 14px;
    margin: 0 15px 0 0;
    color: $dark-color;
    transition: color 400ms;
  }

  &__wrapper {

    display: inline-flex;
    align-items: center;
  }

  &__input {

    width: 100px;
  }

  &__delimiter {

    margin: 0 6px;
    color: $light-gray-color;
  }
}

.align-centered {

  justify-content: center;
}