
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.line {

  display: flex;
  flex-direction: row;
  flex: 1 0;

  & + & {
    margin: 20px 0 0;
  }
}

.col {

  display: block;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin: 0 0 0 20px;
  }
}

.controls {

  position: relative;
  display: block;
}


.option {

  display: block;

  &__title {

    font: 14px "Istok Web", sans-serif;
  }

  &__count {

    font: 12px "Istok Web", sans-serif;
    margin: 0 0 0 12px;
    color: $blue-grey;
  }
}

.amounts {

  display: block;
  flex: 283px 0;
}

.amount {

  display: inline-flex;
  flex: 1 0;
  flex-direction: row;
  align-items: center;

  &__label {

    display: block;
    font: 14px "Istok Web", sans-serif;
    margin: 0 15px 0 0;
    color: $coal-dark;
    transition: color 400ms;
  }

  &__wrapper {

    display: inline-flex;
    align-items: center;
  }

  &__input {

    width: 100px;
  }

  &__delimiter {

    margin: 0 6px;
    color: $pale-lilac;
  }
}

.align-centered {

  justify-content: center;
}