
@import "~@ui.packages/theme";

.wrapper {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 0;
  padding: 40px 0;
  flex-direction: column;
  background: rgba($coal-dark, .2);
  z-index: 99999;
  overflow: auto;
}

.dialog {

  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: $white;
  min-width: 250px;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 0 rgba($dark-grey, 0.3);
  overflow: hidden;


  &--info { background: lighten($information, 30%); }
  &--info &__header { background: $information;  }

  &--primary { background: lighten($primary, 40%); }
  &--primary &__header { background: $primary; color: $white; }
  &--primary &__close:hover { color: $white; }

  &--success { background: lighten($success, 40%); }
  &--success &__header { background: $success; color: $white; }
  &--success &__close:hover { color: $white; }

  &--warning { background: lighten($warning, 40%); }
  &--warning &__header { background: $warning; color: $white; }
  &--warning &__close:hover { color: $white; }

  &--danger { background: lighten($danger, 40%); }
  &--danger &__header { background: $danger; color: $white; }
  &--danger &__close:hover { color: $white; }


  &__close {

    position: absolute;
    top: 28px;
    right: 28px;
    display: block;
    width: 16px;
    height: 16px;
    font: 20px "Istok Web", sans-serif;
    color: $pale-lilac;
    cursor: pointer;
    transition: color 400ms;

    &:hover {
      color: $coal-dark;
    }
  }

  &__header {

    display: block;
    font: 14px "Istok Web";
    font-weight: 700;
    padding: 28px 50px 0 40px;
    color: $coal-dark;
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  &__content {

    display: block;
    overflow: auto;
    padding: 28px 40px 40px;
  }
}