
@import "~@ui.packages/theme";

.wrapper {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 0;
  padding: 40px 0;
  flex-direction: column;
  background: rgba($coal-dark, .2);
  z-index: 99999;
  overflow: auto;
}

.dialog {

  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: $white;
  min-width: 250px;
  border-radius: 15px;
  margin: auto;
  padding: 48px 70px;
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 0 rgba($dark-grey, 0.3);
  overflow: hidden;


  &--info {
    border: 1px solid $information;
    box-shadow: 0 6px 10px 0 rgba($information, 0.3);
  }
  &--info &__close { color: $information;  }

  &--primary {
    border: 1px solid $primary;
    box-shadow: 0 6px 10px 0 rgba($primary, 0.3);
  }
  &--primary &__close { color: $primary; }

  &--success {
    border: 1px solid $success;
    box-shadow: 0 6px 10px 0 rgba($success, 0.3);
  }
  &--success &__close { color: $success; }

  &--warning {
    border: 1px solid $warning;
    box-shadow: 0 6px 10px 0 rgba($warning, 0.3);
  }
  &--warning &__close { color: $warning; }

  &--danger {
    border: 1px solid $danger;
    box-shadow: 0 6px 10px 0 rgba($danger, 0.3);
  }
  &--danger &__close { color: $danger; }

  &__close {

    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    font: 20px "Istok Web", sans-serif;
    color: $pale-lilac;
    cursor: pointer;
    transition: color 400ms;

    &:hover {
      color: $coal-dark;
    }
  }

  &__header {

    display: block;
    font: 16px "Istok Web";
    font-weight: 500;
    color: $coal-dark;
    letter-spacing: .5px;
    text-align: center;
  }

  &__content {

    display: block;
    overflow: auto;
    margin: 30px 0 0;
  }
}