
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  width: 1024px;
  margin: 0 auto;
}

.code {

  display: block;
  margin: 80px 0 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
  color: $blue-grey;
}

.message {

  display: block;
  margin: 0 0 20px;
  font-family: inherit;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: $blue-grey;
}

.description {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: $dark-grey;

  & + & {

    margin-top: 8px;
  }
}

.link {

  display: inline-block;
  color: $primary;
}
