
@import "~@ui.packages/theme";


.empty {

  display: block;
  text-align: center;
  margin: 40px 0 0;
}

.message {

  display: block;
}

.description {

  display: block;
  margin: 20px 0 0;
}

.link {

  display: inline-block;
  color: $primary;
}
