
@import "~@ui.packages/theme";


.characteristics {

  display: block;
}

.characteristic {

  display: block;

  & + & {

    margin: 60px 0 0;
  }
}

.title {

  display: block;
  padding: 0 0 3px;
  //border-bottom: 1px solid $blue-grey;
}

.attributes {

  display: block;
  margin: 15px 0 0 15px;
}