<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Оформлен заказ</title>
</head>
<body>
  <div style="width: 100%">
    <div style="width: 600px; margin: 0 auto; background: white; border: 1px solid #ccc; border-radius: 5px; padding: 20px;">
      <h3>{{ name }}, Вы сделали заказ в интернет магазине</h3>
      <p>Номер заказа: {{ externalId }}</p>
      <div>
        <p>Выбранные товары</p>
        {% for item in products %}
          <div><img style="display: inline-block;" width="124" src="cid:{{ item.uuid }}" alt="preview"/>"{{ item.brand }}" {{ item.name }}, {{ item.count }} x {{ item.price }} {{ item.currency }} = {{ item.finalPrice}} {{ item.currency }}</div>
        {% endfor %}
      </div>
      <p>Для отслеживания статуса заказа, перейдите по ссылке <a href="https://{{ domain }}/order/{{ externalId }}" rel="noreferrer noopener">Отслеживать</a></p>
      <p>Сумма заказа: {{ price }} {{ currency }}</p>
      <a href="{{ paymentLink }}" rel="noreferrer noopener">Оплатить</a>
    </div>
  </div>
</body>
</html>