
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

.page {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.aside {

  display: block;
  width: 260px;
  z-index: 20;
}

.content {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin: 0 0 0 40px;
  overflow: auto;
  z-index: 10;
}
