
@import "~@ui.packages/theme";

.cart {

  &__wrapper {

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background 400ms;

    &--open,
    &:hover {
      background: $white-color
    }
  }

  &__wrapper--open &__count,
  &__wrapper:hover &__count,
  &__wrapper--open &__amount,
  &__wrapper:hover &__amount {
    color: $dark-color;
  }

  &__icon {

    display: inline-block;
    font-size: 16px;
    color: $danger-color;
    margin: 0 10px 0 0;
  }

  &__info {

    display: inline-block;
    vertical-align: center;
  }

  &__count {

    display: inline-block;
    color: $white-color;
    font-size: 13px;
    transition: color 400ms;
  }

  &__amount {

    display: block;
    color: $white-color;
    font-size: 13px;
    transition: color 400ms;
  }
}
