
@import "~@ui.packages/theme";

.comments {

  display: block;
}

.comment {

  display: flex;
  flex-direction: column;
  flex: 0 0;

  //&--good {
  //
  //  background: rgba($success-color, .03);
  //}
  //
  //&--medium {
  //
  //  background: rgba($info-color, .06);
  //}
  //
  //&--bad {
  //
  //  background: rgba($danger-color, .03);
  //}

  & + & {

    margin: 40px 0 0;
  }

  &__header {

    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: baseline;
  }

  &__wrapper {

    display: flex;
    flex: 1 0;
    flex-direction: row;
    align-items: center;
  }

  &__person {

    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $coal-dark;
  }

  &__evaluation {

    display: block;
  }

  &__date {

    display: block;
    margin: 0 0 0 20px;
    font-size: 12px;
    color: $gray;
  }

  &__content {

    display: block;
    margin: 15px 0 0;
    font-size: 12px;
    line-height: 1.4;
  }
}
