
@import "~@ui.packages/theme";

.evaluation {

  display: inline-block;
  font-size: 0;

  &__star {

    display: inline-block;
    font-size: 16px;
    color: $gray;
    transition: color 400ms;

    &:hover {
      color: darken($gray, 10%);
      cursor: pointer;
    }

    & + & {
      margin: 0 0 0 4px;
    }
  }
}

.wrapper {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &--info  .evaluation__star {

    color: darken($information, 10%);

    &:hover {
      color: darken($information, 15%);
    }
  }

  &--primary .evaluation__star {

    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }
  }

  &--success .evaluation__star {

    color: $success;

    &:hover {
      color: darken($success, 10%);
    }
  }

  &--warning .evaluation__star {

    color: $warning;

    &:hover {
      color: darken($warning, 10%);
    }
  }

  &--danger .evaluation__star {

    color: $danger;

    &:hover {
      color: darken($danger, 10%);
    }
  }

  &--small .evaluation__star {

    font-size: 14px;
  }

  &--large .evaluation__star {

    font-size: 18px;
  }
}

.label {

  display: block;
  font-size: 14px;
  color: #222;
  margin: 0 0 10px 1px;
  transition: color 400ms;
}

.tooltip {

  position: fixed;
  padding: 10px 16px;
  display: block;
  background: $danger;
  border-radius: 4px;

  &:before {

    position: absolute;
    right: 100%;
    top: 50%;
    display: inline-block;
    margin: -7px 0 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: none;
    border-right-color: $danger;
    content: '';
  }

  &__message {

    display: inline-block;
    font-size: 13px;
    color: $whitesmoke;
    letter-spacing: .5px;
    font-weight: bold;
  }
}
