
@import "~@ui.packages/theme";


.header {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  color: $coal-dark;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {

  font-weight: 500;
}
