
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  padding: 0 0 4px 20px;
  margin: 0 0 10px;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  margin: -8px -8px 0 0;
}

.section {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 50%;
  padding: 8px 8px 0 0;
  box-sizing: border-box;
}
