
@import "~@ui.packages/theme";


.product {

  display: flex;
  flex: 1 0;
  min-height: 200px;

  & + & {

    border-top: 1px solid $light-gray-color;
    margin: 40px 0 0;
    padding: 40px 0 0;
  }

  //&:last-child {
  //
  //  margin: 0 0 40px;
  //}

  &__brand {

    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
    color: $dark-color;
    letter-spacing: .5px;

    &-link {

      color: inherit;
    }
  }

  &__name {

    display: block;
    font-size: 14px;
    color: $dark-color;
  }
}

.gallery {

  display: block;
  width: 250px;
  text-align: center;

  &__images {

    display: flex;
    height: 200px;
  }
}

.content {

  position: relative;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.details {

  display: block;
  padding: 30px;
  border-radius: 4px;
  margin: 30px 0 0;
  background: rgba($info-color, .1);
  border: 1px solid #f9f3d9;

  &__content {

    margin: 30px 0 0;
  }

  &__info {

    font-size: 14px;
    line-height: 1.6;
    color: $dark-color;

    &:first-child + & {
      margin: 20px 0 0;
    }

    & + & {

      margin: 10px 0 0;
    }
  }
}

.info {

  display: block;
}

.type {

  display: inline-block;

  & + & {
    margin: 0 0 0 20px;
  }
}

.link {

  color: $primary-color;
  cursor: pointer;
  text-decoration: underline;
}

.amount {

  display: block;
  text-align: center;
  margin: 20px 0;

  &__main {

    display: block;
  }

  &__add {

    display: block;
    margin: 10px 0 0;
    color: $success-color;
  }

  &__value {

    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

  &__add &__value {

    font-size: 14px;
  }

  &__currency {

    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 4px;
  }
}

.error {

  font-size: 11px;
  color: #e86b20;
  margin: 0 0 0 20px;
  font-style: italic;
  letter-spacing: .5px;
}

.remove {

  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px;
  color: $danger-color;
  cursor: pointer;
}