
@import "~@ui.packages/theme";


.container {

  display: block;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
}

.content {

  display: block;
  margin: 40px 0 0;
}

.block {

  display: flex;
  flex: 1 0;
  flex-direction: row;

  &__col {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    align-items: center;
  }
}

.pay {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  width: 300px;
  text-align: center;
  white-space: pre-wrap;

  &__icon {

    display: inline-block;
    font-size: 50px;
    color: $primary;
    white-space: pre-line;
  }

  &__label {

    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .5px;
    color: $blue-grey;
    text-transform: uppercase;
    white-space: pre-wrap;
    margin-top: 15px;
  }

  &__description {

    display: block;
    color: $coal-dark;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}
