
@import "~@ui.packages/theme";

.cart {

  position: relative;
  display: block;
  width: 48px;

  &__wrapper {

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background 400ms;

    &--open,
    &:hover {
      background: $white-color
    }
  }

  &__wrapper--open &__count,
  &__wrapper:hover &__count {
    color: $dark-color;
  }

  &__icon {

    display: inline-block;
    font-size: 16px;
    color: $danger-color;
    margin: 0 6px 0 0;
  }

  &__count {

    display: inline-block;
    color: $white-color;
    font: 13px 'Helvetica Neue',sans-serif;
    transition: color 400ms;
  }

  &__list {

    position: absolute;
    right: 0;
    top: 100%;
    padding: 10px 0 0;
    width: 500px;
    z-index: 9999;
  }

  &__empty {

    display: block;
    padding: 20px;
    font: 14px 'Helvetica Neue',sans-serif;
    color: $dark-color;
    text-align: center;
    background: $white-color;
  }

  &__full-amount {

    text-align: right;
    font: 14px 'Helvetica Neue',sans-serif;
    font-weight: bold;
    color: $dark-color;
  }

  &__link {

    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 8px;
    font: 12px 'Helvetica Neue',sans-serif;
    border: 1px solid $light-gray-color;
    text-decoration: none;
    outline: none;
    color: $dark-color;
    background: $light-gray-color;
    font-weight: bold;
    letter-spacing: .5px;
    cursor: pointer;

    &:hover {
      background: $light-gray-color;
    }
  }

  &__pay {

    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 4px;
    font: 12px 'Helvetica Neue',sans-serif;
    text-decoration: none;
    outline: none;
    color: $white-color;
    background: $primary-color;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;

    &:hover {
      background: darken($primary-color, 5%);
    }
  }
}

.list {

  position: relative;
  display: block;
  background: $white-color;
  box-shadow: 0 0 3px 0 rgba($dark-color, .5);

  &:before {

    position: absolute;
    right: 10px;
    bottom: 100%;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: $white-color;
    border-top: none;
  }

  &__content {

    display: block;
    padding: 20px;
    max-height: 300px;
    overflow: auto;
  }

  &__info {

    display: block;
    border-top: 1px solid $gray-color;
    padding: 20px;
  }

  &__controls {

    display: block;
    padding: 20px;
    border-top: 1px solid $gray-color;
    text-align: right;
  }
}

.item {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;

  & + & {

    margin: 10px 0 0;
    border-top: 1px solid #eee;
    padding: 10px 0 0;
  }

  &__promo {

    display: flex;
    width: 60px;
    height: 50px;
  }

  &__description {

    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    padding: 0 20px 0 20px;
    align-items: center;
  }

  &__names {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  &__count {

    display: block;
  }

  &__amount {

    display: block;
    text-align: right;
    font: 13px 'Helvetica Neue',sans-serif;
    color: $dark-color;
  }

  &__brand {

    display: block;
    font: 14px 'Helvetica Neue',sans-serif;
    font-weight: bold;
    color: $dark-color;
  }

  &__name {

    display: block;
    font: 12px 'Helvetica Neue',sans-serif;
    color: $dark-color;
    margin: 5px 0 0;
  }
}

.remove {

  font-size: 14px;
  color: $danger-color;
  cursor: pointer;
}