
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &--info {

    .label,
    .info__icon {
      color: darken($info-color, 10%);
    }
  }

  &--primary {

    .label,
    .info__icon {
      color: darken($primary-color, 10%);
    }
  }

  &--success {

    .label,
    .info__icon {
      color: darken($success-color, 10%);
    }
  }

  &--warning {

    .label,
    .info__icon {
      color: darken($warning-color, 10%);
    }
  }

  &--danger {

    .label,
    .info__icon {
      color: darken($danger-color, 10%);
    }
  }

  &--disabled {

    background: $light-gray-color;

    .label {
      color: $gray-color;
      text-shadow: -1px 1px 0 $white-color;
    }
  }
}

.label {

  display: block;
  font-size: 14px;
  color: #222;
  margin: 0 0 8px 1px;
  transition: color 400ms;
}


.container {

  display: block;
}

.tooltip {

  position: fixed;
  padding: 10px 16px;
  display: block;
  background: $danger-color;
  border-radius: 4px;

  &:before {

    position: absolute;
    right: 100%;
    top: 50%;
    display: inline-block;
    margin: -7px 0 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: none;
    border-right-color: $danger-color;
    content: '';
  }

  &__message {

    display: inline-block;
    font-size: 13px;
    color: $whitesmoke-color;
    letter-spacing: .5px;
    font-weight: bold;
  }
}
