
@import "~@packages/theme";


.header {
  
  display: block;
  font: 16px "Opinion Pro";
  color: $dark-color;
  font-weight: bold;
}

.paragraph {

  display: block;
  font: 13px "Opinion Pro";
  line-height: 1.4;
}

.features {

  display: block;
  margin: 20px 0 0;
  border-top: 1px solid $gray-color;
  padding: 80px 0 0;
}

.product {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 40px 0 90px;

  &__brand {

    display: block;
    font: 30px "Opinion Pro";
    font-weight: bold;
    color: $dark-color;
  }

  &__name {

    display: block;
    font: 13px "Opinion Pro";
    color: $dark-color;
    margin: 6px 0 0;
    letter-spacing: 1px;
  }

  &__amount {

    display: block;
    font: 22px "Opinion Pro";
    margin: 35px 0 0;
    color: $dark-color;
  }

  &__description {

    display: block;
    padding: 30px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid $gray-color;
    width: 340px;

    &__header {

      display: block;
      font: 18px "Opinion Pro";
      font-weight: bold;
      margin: 0 0 20px;
    }
  }

  &__common {

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
  }

  &__gallery {

    display: flex;
    width: 700px;
    height: 600px;
    background: $light-gray-color;
  }

  &__commands {

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    border-left: 1px solid $gray-color;
    margin: 0 0 0 20px;
    padding: 0 20px;
  }

  &__feature {

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0 0 80px;
  }

  &__list {

    display: block;
    margin: 30px 0 0;
  }
}

.cart {

  display: block;
  background: $primary-color;
  color: $white-color;
  font: 14px "Opinion Pro";
  padding: 13px 20px 10px;
  font-weight: bold;
  width: 160px;
  text-align: center;
  margin: 10px 0 0;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba($primary-color, .5);
  transition: background 400ms;

  &:hover {
    background: darken($primary-color, 10%);
  }

  &__caption {

    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.comments {

  display: block;

  &__controls {

    display: flex;
    flex: 1 0 auto;

  }

  &__header {

    display: flex;
    flex: 1 0 auto;
    font: 16px "Opinion Pro";
    color: $dark-color;
    font-weight: bold;
  }

  &__link {

    display: inline-block;
    font: 14px "Opinion Pro";
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }

  &__empty {

    display: inline-block;
    font: 14px "Opinion Pro";
    color: $dark-color;
  }

  &__content {

    display: block;
    margin: 30px 0 0;
  }
}
