
@import "../../../../../node_modules/@ui.packages/theme";


.block {

  display: block;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  padding: 30px;
}

.header {

  display: block;
  margin: 0 0 20px;

  &__title {

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
  }
}

.details {

  display: inline-block;

  b {

    font-weight: 700;
  }

  &__line {

    display: block;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;

    & + & {

      margin: 8px 0 0;
    }
  }
}

.amount {

  display: inline-block;
  padding: 8px 0 0;

  &__value {

    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    color: $black;
  }

  &__currency {

    display: inline-block;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    color: $black;
    margin: 0 0 0 8px;
  }
}
