
@import "~@ui.packages/theme";


.comment {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  background: rgba($black, .3);
  padding: 25px;
  border-radius: 5px;

  & + & {

    margin: 20px 0 0;
  }
}

.header {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  align-items: baseline;
}

.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  align-items: center;
}

.person {

  display: block;
}

.evaluation {

  display: block;
}

.date {

  display: block;
  margin: 0 0 0 20px;
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
}

.content {

  display: block;
  margin: 20px 0 0;
}
