
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
  margin: 0 0 60px;
  text-align: center;
}

.content {

  display: block;
  border-top: 1px solid $blue-grey;
  overflow: hidden;
}

.container {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  margin: 0 -2px 0 0;
}
