
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.breadcrumbs {

  display: block;
  background: $white;
  box-shadow: 0 1px 20px 0 rgba($coal-dark, .08);

  &__content {

    display: block;
    width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.content {

  display: block;
  width: 1024px;
  margin: 20px auto 190px;
}

.common {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.gallery {

  display: flex;
  flex-direction: column;
  flex: 1 0 600px;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
}

.information {

  display: block;
  border: 1px solid $pale-lilac;
  border-radius: 5px;
  width: 390px;
  margin: 0 0 0 30px;
  background: $white;
  padding: 30px;
  box-sizing: border-box;
}

.description {

  display: block;
  margin: 60px 0 0;
}

.attributes {

  display: block;
  margin: 50px 0 0;
}

.comments {

  display: block;
  margin: 50px 0 0;
}
