
@import "~@ui.packages/theme";


.controls {

  display: block;
  text-align: right;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.filter {

  display: block;
  margin: 0 0 30px;
}

.table {

  display: block;
}

.paging {

  display: block;
  margin: 40px 0 0;
  text-align: center;
}
