
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  max-width: 400px;
}

.link {

  display: inline-block;
  color: $coal-dark;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
