
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 40px 20px 120px;
  box-sizing: border-box;
}

.controls {

  margin-top: 80px;
  text-align: right;
}

.message {

  display: block;
  font-size: 14px;
  color: $dark-color;
  margin: 0 0 20px;
}