
.dialog {

  display: block;
  margin: auto;
  width: 450px;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(#d4dae1, .8);
  border-radius: 4px;
  overflow: hidden;

  &__header {

    display: block;
    padding: 18px 20px 14px;
    border-bottom: 1px solid #d4dae1;
    font: 16px "Opinion Pro";
    font-weight: bold;
  }

  &__content {

    display: block;
    padding: 40px 60px 25px;
  }

  &__controls {

    display: block;
    padding: 24px 20px 20px;
    border-top: 1px solid #d4dae1;
    text-align: center;
  }
}