
@import "../../../../node_modules/@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;
  background: $very-light-pink;
}

.dialog {

  display: block;
  margin: 100px auto;
  width: 340px;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  overflow: hidden;

  &__content {

    display: block;
    padding: 40px 60px 0;
  }

  &__controls {

    display: block;
    padding: 50px 0 30px;
    text-align: center;
  }
}

.header {

  display: block;
  padding: 30px 0 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .8px;
}
