
.product {

  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px 0;

  &__promo {

    position: relative;
    display: flex;
    width: 150px;
    //box-shadow: 1px 1px 5px 0 rgba(62, 62, 62, .2);
    height: 120px;
    border-radius: 4px;
  }

  &__info {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: 0 0 0 20px;
  }

  &__brand {

    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #222;

  }

  &__name {

    display: inline-block;
    font-size: 14px;
    color: #222;
    margin: 10px 0 0;
  }
}