
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: flex-end;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.controls {

  display: block;
  text-align: right;
}

.amount {

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &__label {

    display: inline-flex;
    font-size: 14px;
    margin: 0 8px 0 0;
  }

  &__wrapper {

    display: inline-flex;
    align-items: center;
  }

  &__input {

    width: 100px;
  }

  &__delimiter {

    margin: 0 6px;
    color: $light-gray-color;
  }
}