
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: flex-end;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.controls {

  flex: 0;
  justify-content: flex-end;
}

.amounts {

  flex: 0;
}

.amount {

  display: inline-flex;
  flex-direction: column;

  &__label {

    display: block;
    font-size: 14px;
    color: #222;
    margin: 0 0 8px 1px;
    transition: color 400ms;
  }

  &__wrapper {

    display: inline-flex;
    align-items: center;
  }

  &__input {

    width: 100px;
  }

  &__delimiter {

    margin: 0 6px;
    color: $light-gray-color;
  }
}