
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  border: 1px solid $pale-lilac;
  border-radius: 4px;
  overflow: hidden;
  transition: border 400ms;

  //&:hover {
  //
  //  border-color: $gray;
  //}

  & + & {

    margin: 20px 0 0;
  }

  &--with-label {
    .input {
      padding: 8px 10px 10px;
    }
  }

  &--info {

    border-color: $information;

    .label,
    .input,
    .info__icon {
      color: darken($information, 10%);
    }
  }

  &--primary {

    border-color: $primary;

    .label,
    .input,
    .info__icon {
      color: darken($primary, 10%);
    }
  }

  &--success {

    border-color: $success;

    .label,
    .input,
    .info__icon {
      color: darken($success, 10%);
    }
  }

  &--warning {

    border-color: $warning;

    .label,
    .input,
    .info__icon {
      color: darken($warning, 10%);
    }
  }

  &--danger {

    border-color: $danger;

    .label,
    .input,
    .info__icon {
      color: darken($danger, 10%);
    }
  }

  &--disabled {

    background: $pale-lilac;
    border-color: $gray;

    .label {
      color: $gray;
      text-shadow: -1px 1px 0 $white;
    }

    .input {
      color: $gray;
      text-shadow: -1px 1px 0 $white;
    }
  }
}

.label {

  display: block;
  font-size: 12px;
  font-weight: bold;
  color: $coal-dark;
  padding: 11px 10px 0 10px;
}

.input {

  display: block;
  padding: 11px 10px 10px;
  color: $coal-dark;
  font-size: 14px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  letter-spacing: .5px;
  background: transparent;

  &:disabled {

    border-color: $pale-lilac;
    color: $gray;
  }
}

.container {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.controls {

  display: block;
  padding: 10px;
}

.info__icon {

  font-size: 16px;
  color: $pale-lilac;
  cursor: pointer;
}