
@import "~@ui.packages/theme";


.products {

  display: block;
}

.header {

  display: block;
  text-transform: uppercase;
  font: 14px "Istok Web", sans-serif;
  border-bottom: 1px solid $coal-dark;
}

.content {

  display: block;
  padding: 40px 0 0;
}