
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  font: 14px "Istok Web", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $coal-dark;
  padding: 0 0 4px 20px;
}

.content {

  display: block;
  margin: 10px 0 0;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  padding: 40px 40px 80px;
}