
@import "~@ui.packages/theme";


.profile {

  display: inline-block;
}

.options {

  display: inline-block;
  font-size: 20px;
  color: $pale-lilac;
  vertical-align: middle;
  transition: color 200ms;
  cursor: pointer;

  &:hover {

    color: $information;
  }
}

.name {

  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  color: $primary;
  vertical-align: middle;
  padding: 0 20px 0 10px;
  text-decoration: underline;
  cursor: pointer;
}

.exit {

  display: inline-block;

  &__icon {

    display: inline-block;
    font-size: 16px;
    color: $pale-lilac;
    vertical-align: middle;
    transition: color 200ms;
    cursor: pointer;

    &:hover {

      color: $danger;
    }
  }

  &:before {

    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    background: $dark-grey;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 15px 0 0;
  }
}

.sign-in {

  display: inline-block;
  cursor: pointer;
  color: $coal-dark;
  vertical-align: middle;
  transition: color 200ms;

  &:hover {
    color: $primary;
  }

  &__caption {

    display: inline-block;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    vertical-align: middle;
  }

  &__icon {

    display: inline-block;
    font-size: 16px;
    color: inherit;
    vertical-align: middle;
    margin: 0 15px 0 0;
  }
}

.sign-up {

  display: inline-block;
  margin: 0 0 0 15px;
  color: $coal-dark;
  transition: color 200ms;
  vertical-align: middle;

  &:before {

    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    background: $dark-grey;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 15px 0 0;
  }

  &:hover {
    color: $primary;
  }

  &__caption {

    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    color: inherit;
  }

  &__icon {

    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 12px 0 0;
    color: inherit;
  }
}
