
@import "~@ui.packages/theme";

.wrapper {

  display: block;
  padding: 40px 20px 120px;
}

.categories {

  display: block;
  height: 400px;
  background: $light-gray-color;
  margin: 0 0 40px;
}

.category {

  display: block;
  height: 200px;
  background: $light-gray-color;
}