
@import "~@ui.packages/theme";


.wrapper {

  display: block;
  padding: 13px 6px 0 7px;
}

.container {

  position: relative;
  display: block;
  border: 1px solid $pale-lilac;
  border-top: transparent;
  height: 6px;
  border-radius: 0 0 5px 5px;
}

.min {

  position: absolute;
  top: -8px;
  left: 4px;
  display: inline-block;
  font: 10px "Istok Web", sans-serif;
  color: $coal-dark;
}

.max {

  position: absolute;
  top: -8px;
  right: 4px;
  display: inline-block;
  font: 10px "Istok Web", sans-serif;
  color: $coal-dark;
}

.value {

  position: absolute;
  top: -8px;
  left: 50%;
  display: inline-block;
  width: 60px;
  margin-left: -30px;
  text-align: center;
  font: 10px "Istok Web", sans-serif;
  color: $coal-dark;
}
