
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex: 1 0;
  flex-direction: column;

  &--info {

    .label,
    .info__icon {
      color: darken($information, 10%);
    }
  }

  &--primary {

    .label,
    .info__icon {
      color: darken($primary, 10%);
    }
  }

  &--success {

    .label,
    .info__icon {
      color: darken($success, 10%);
    }
  }

  &--warning {

    .label,
    .info__icon {
      color: darken($warning, 10%);
    }
  }

  &--danger {

    .label,
    .info__icon {
      color: darken($danger, 10%);
    }
  }

  &--disabled {

    background: $pale-lilac;

    .label {
      color: $gray;
      text-shadow: -1px 1px 0 $white;
    }
  }
}

.label {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  color: $blue-grey;
  margin: 0 0 6px 15px;
  transition: color 400ms;
}

.container {

  position: relative;
  display: block;
}

.error {

  position: absolute;
  top: 100%;
  right: 5px;
  display: block;

  &__message {

    font-family: inherit;
    font-weight: 300;
    font-size: 11px;
    color: $warning;
    letter-spacing: .5px;
  }
}
