
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  padding: 0 0 4px 20px;
  margin: 0 0 10px;
}

.content {

  display: block;
  border-radius: 5px;
  background: $whitesmoke;
  padding: 40px 40px 80px;
}

.line {

  display: flex;
  flex-direction: column;

  & + & {

    margin: 30px 0 0;
  }
}

.title {

  display: block;
}

.value {

  display: block;
  margin: 15px 0 0;
  padding: 0 0 15px 15px;
  border-bottom: 1px solid $pale-lilac;
}
