
@import "~@ui.packages/theme";



.wrapper {

  display: block;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $coal-dark;
  padding: 0 0 4px 20px;
}

.content {

  display: block;
  margin: 10px 0 0;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  padding: 40px 40px 80px;
}


.line {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;

  & + & {

    margin: 20px 0 0;
  }

  &__label {

    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: $coal-dark;
  }

  &__value {

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    color: $black;
  }
}
