
@import "~@ui.packages/theme";


.tabs {

  display: block;
}

.content {

  display: block;
  border-radius: 0 4px 4px 4px;
  border: 1px solid $primary-color;
  padding: 40px 20px 20px;
}

.card {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-radius: 4px;
  border: 1px solid $gray-color;
  background: $light-gray-color;
  padding: 20px;
  cursor: pointer;
  transition: border 200ms;

  &--active {

    background: $primary-color;
    border-color: $primary-color;
    color: $white-color;
  }

  &:hover {

    border-color: $primary-color;
  }

  &__header {

    display: block;
    font-size: 16px;
    font-weight: bold;

  }

  &__description {

    display: block;
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.information {

  margin: 30px 0;
  color: $dark-gray-color;
  font-size: 14px;
  font-style: italic;

  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}
