
@import "~@ui.packages/theme";


.block {

  display: inline-flex;
  flex-direction: column;
  width: 200px;
  height: 120px;
  background: $gray-color;
  color: $white-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  vertical-align: top;

  & + & {

    margin: 0 0 0 20px;
  }

  &--selected {

    background: $warning-color;
  }

  &__icon {

    font-size: 30px;
  }

  &__caption {

    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
  }
}
