
@import "~@ui.packages/theme";


.block {

  display: block;
  border-radius: 3px;
  overflow: hidden;
  background: rgba($white, .15);
  border: 1px solid rgba($white, .02);
  transition: border-color 200ms;

  &--has-selected {
    border-color: rgba($white, .4);
  }

  & + & {

    margin: 8px 0 0;
  }
}

.header {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 15px;
  cursor: pointer;
}

.title {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  font-size: 12px;
  font-weight: 700;
  color: $white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icon {

  display: block;
  font-size: 10px;
  color: $blue-grey;
}

.content {

  display: block;
  padding: 8px 0 20px;
}

.item {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 0 15px;
  color: $pale-lilac;
  align-items: center;
  transition: opacity 200ms;

  & + & {

    margin: 12px 0 0;
  }

  &--disabled {

    opacity: .3;
  }

  &__value {

    display: flex;
    flex-direction: column;
    flex: 1 0;
  }

  &__count {

    display: block;
    font-size: 13px;
    font-weight: 300;
  }
}

.check-box {

  color: $white;
}
