
@import "~@ui.packages/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {

    margin: 80px 0 0;
  }
}

.label {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 20px;
  border-radius: 3px;
  background: rgba($white, .15);
  backdrop-filter: blur(2px);
  align-items: flex-end;
}

.value {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.link {

  display: block;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 30px 0 0;
  overflow: auto;

  @media only screen and (max-width: 600px) {

    margin: 20px 0 0;
  }
}

.item {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 224px;

  & + & {

    margin: 0 0 0 20px;
  }
}