
@import "~@packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  transition: border 400ms;
  min-width: 40px;
  min-height: 60px;

  &--info {

    border-color: $info-color;

    .label,
    .input,
    .info__icon {
      color: darken($info-color, 10%);
    }
  }

  &--primary {

    border-color: $primary-color;

    .label,
    .input,
    .info__icon {
      color: darken($primary-color, 10%);
    }
  }

  &--success {

    border-color: $success-color;

    .label,
    .input,
    .info__icon {
      color: darken($success-color, 10%);
    }
  }

  &--warning {

    border-color: $warning-color;

    .label,
    .input,
    .info__icon {
      color: darken($warning-color, 10%);
    }
  }

  &--danger {

    border-color: $danger-color;

    .label,
    .input,
    .info__icon {
      color: darken($danger-color, 10%);
    }
  }
}

.image {

  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 10;
}

.loading {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: $dark-color;
  z-index: 20;
}

.error {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: $dark-color;
  z-index: 20;

  &__title {

    display: inline-flex;
    font: 12px "Opinion Pro";
    color: $light-gray-color;
    margin: auto;
    text-align: center;
  }
}

