
@import "~@ui.packages/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.gallery {

  display: block;
  width: 240px;
  height: 210px;
  padding: 20px;
  box-sizing: border-box;
}

.common {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.description {

  display: block;
  padding: 20px 20px 0 0;
}

.uuid {

  display: block;
  margin: 20px 0 0;
}

.brand {

  display: block;
  padding: 8px 0 0;
}

.name {

  display: block;
}

.information {

  display: block;
  width: 310px;
  background: $whitesmoke;
  box-shadow: -1px 0 4px 0 rgba($blue-grey, .6);
  padding: 25px 20px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px
}

.attrs {

  display: block;
  margin: 25px 0 0;
}

.amount {

  display: flex;
  flex: 1 0;
  flex-direction: row;
  align-items: baseline;
}

.prev-amount {

  color: $danger;
  text-decoration: line-through;
  margin: 0 0 0 10px;
  opacity: .6;
}

.controls {

  display: block;
  margin: 20px 0 0;
  padding: 25px 0 0;
  border-top: 1px solid $pale-lilac;
}

.remove {

  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 0 10px;
  color: $gray;
  vertical-align: middle;
  cursor: pointer;
  transition: color 200ms;

  &:hover {

    color: $danger;
  }
}

.count {

  display: block;
  margin: 6px 0 0 4px;
}
