
@import "~@ui.packages/theme";


.list {

  display: flex;
  flex-direction: row;
  flex: 1 0;

  &__row {

    display: flex;
    flex-direction: column;
    flex: 1 0;

    & + & {

      margin: 0 0 0 40px;
    }
  }

  &__line {

    display: flex;
    flex-direction: row;
    flex: 0 0;
    padding: 15px 10px 13px;
    background: $whitesmoke;

    &:nth-child(even) {

      background: transparent;
    }

    & + & {

      margin: 5px 0 0;
    }
  }

  &__col {

    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    color: $coal-dark;
  }

  &__title {

    display: inline-block;
    font: 14px "Istok Web", sans-serif;
    font-weight: 700;
  }

  &__value {

    display: inline-block;
    font: 14px "Istok Web", sans-serif;
  }
}
