
@import "../../../../node_modules/@ui.packages/theme";


.wrapper {

  display: block;
  padding: 40px 40px 180px;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.block {

  display: block;
  background: $white;
  border: 1px solid $pale-lilac;
  border-radius: 15px;
  padding: 30px;
}

.link {

  color: $primary;
}
