
@import "~@ui.packages/theme";


.controls {

  display: block;
  text-align: right;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}

.filter {

  display: block;
  margin: 0 0 50px;
}

.table {

  display: block;
}

.paging {

  display: block;
  margin: 40px 0 0;
  padding: 10px;
  text-align: right;
  background: rgba($coal-dark, .6);
  border-radius: 5px;
}
