
@import "~@ui.packages/theme";


.board {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &__week {

    display: flex;
    flex: 1 0 auto;
    flex-direction: row;

    &:first-child {
      font: 14px "Istok Web", sans-serif;
      background: $pale-lilac;
    }

    & + & {
      border-top: 1px solid $pale-lilac;
    }
  }

  &__day {

    display: flex;
    flex: 1 0;
    flex-direction: column;
    height: 35px;
    align-items: center;
    justify-content: center;
    font: 13px "Istok Web", sans-serif;

    & + & {
      border-left: 1px solid $pale-lilac;
    }

    &--today {
      text-decoration: underline;
      font-weight: 700;
    }

    &--weekend {
      color: $danger;
    }

    &--selected {
      background: $primary;
      color: $white;
    }

    &--disabled {
      color: darken($pale-lilac, 5%);
    }
  }
}
