
@import "~@ui.packages/theme";


.option {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  padding: 12px 4px 12px 14px;
  align-items: flex-end;
}

.title {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: hidden;
}

.text {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--none {
    color: $blue-grey;
  }
}

.count {

  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 0 12px;
  color: $blue-grey;
}
