
@import "~@ui.packages/theme";


.wrapper {

  display: block;
}

.header {

  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0 0 40px;
}


.content {

  display: block;
  border-radius: 5px;
  border: 1px solid $pale-lilac;
  background: $white;
  padding: 30px;
  margin: 6px 0 0;
}

.controls {

  display: block;
  text-align: right;
}

.paging {

  display: block;
  margin: 40px 0 0;
  padding: 10px;
  text-align: right;
  background: rgba($coal-dark, .6);
  border-radius: 5px;
}
