
@import "~@ui.packages/theme";


.breadcrumbs {

  display: block;

  &__item {

    display: inline-block;
    vertical-align: middle;
  }

  &__delimiter {

    display: block;
    font-size: 14px;
    color: $dark-gray-color;
    padding: 0 10px;
  }

  &__link {

    display: block;
    color: $primary-color;
    font-size: 14px;
  }

  &__title {

    display: block;
    color: $dark-color;
    font-size: 14px;
  }
}
