
@import "~@ui.packages/theme";


.header {

  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  color: $white;
  align-items: center;

  &__title {

    display: flex;
    flex: 1 0 auto;
    padding: 20px 0;
    flex-direction: column;
  }

  .logotype {

    display: inline-block;
    font: 20px 'Exo 2', sans-serif;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    letter-spacing: .5px;
  }

  &__cart {

    display: block;
  }
}

.container {

  display: block;
}